doctype html
html
  head
    title ThingsStudentsShouldKnow
    block style

      
  body

    nav#navbar.top
     ul
         div#logo
          img(src="../static/blue_task2_n.png")
          | ThingsStudentsShouldKnow
         li #[a(href="/") Home]
         li #[a(href="/about") About Me]
         li #[a(href="/services") Services]
         li #[a(href="/contact") contact info]
         li #[a(href="/section") section]
    block content


    block footer

    footer#footer
      | Copyright 2020 JoelDanceAcademy.com | All rights reserved 

  block scripts
  
    script(src='../static/javaScriptFiles/homePage.js')
