extends base.pug


block scripts
  script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../static/homePageStyle/homePageStyle.css
        
        
        
        

block content



   section#introSection
      div|Things Students Should Know
      div.small|Eat Sleep Experiment Repeat

   section.contentSectionBody
      
    section.contentSection

     
      .container
        .card
          .box(onclick="window.location.href='/Section/card1'")
            .imgBx
              img(src='../static/card1Style/code.jpg' alt="contentSection")
            .contentBox
              div
                h2 Why Every Student Should Learn To Code
                p
                  | Coding Teaches You How To Think!
      
        .card
          .box(onclick="window.location.href='/Section/card2'")
            .imgBx
              img(src='../static/card2Style/codeWithHarry.jpg' alt="contentSection")
            .contentBox
              div
                h2 CodeWithHarry
                p
                  | Best Youtube Channel To Learn Coding
      
        .card
          .box(onclick="window.location.href='/Section/card3'")
            .imgBx
              img(src='../static/card3Style/python.jpg' alt="contentSection")
            .contentBox
              div
                h2 python
                p
                  | Python Libraries For Electrical Engineers
      
        .card
          .box(onclick="window.location.href='/Section/card4'")
            .imgBx
              img(src='../static/card4Style/nationalEducationalPolicy2020.jpg' alt="contentSection")
            .contentBox
              div
                h2 National Educational Policy 2020
                p
                  | PM Modi Explains How NEP2020 Will Lay The Foundation In India
      
        .card
          .box(onclick="window.location.href='/Section/card5'")
            .imgBx
              img(src='../static/card5Style/apps.jpg' alt="contentSection")
            .contentBox
              div
                h2 Amazing Apps
                p
                  | 5 Apps That Every College Student Should have
      
        .card
          .box(onclick="window.location.href='/Section/card6'")
            .imgBx
              img(src='../static/card6Style/jobs.jpg' alt="contentSection")
            .contentBox
              div
                h2 Jobs
                p
                  | 7 Tips To Get YOU Jobs
      
        .card
          .box(onclick="window.location.href='/Section/card7'")
            .imgBx
              img(src='../static/card7.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!
      
        .card
          .box(onclick="window.location.href='/Section/card8'")
            .imgBx
              img(src='../static/card8.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!
      
        .card
          .box(onclick="window.location.href='/Section/card9'")
            .imgBx
              img(src='../static/card9.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!
      
        .card
          .box(onclick="window.location.href='/Section/card10'")
            .imgBx
              img(src='../static/card10.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!
      
        .card
          .box(onclick="window.location.href='/Section/card11'")
            .imgBx
              img(src='../static/card11.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!
      
        .card
          .box(onclick="window.location.href='/Section/card12'")
            .imgBx
              img(src='../static/card12.jpg' alt="contentSection")
            .contentBox
              div
                h2 Post Title
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus dignissimos earum magnam nihil molestias!


        .pagination
          .prev Prev
          .page
            | Page 
            span.page-num
          .next Next
  

      

  
   

   section#sponsorSection
      h2|Our Sponsors
      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





