extends ../base.pug


block scripts
//-   script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../../static/card5Style/card5.css
        
        
        
        

block content



   section#introSection


   section.contentSectionBody


        .contentSection
            .container
                h1 5 Apps That Every College Student Should have

                .group
                    input#1(type='checkbox')
                    label(for='1') <a href="https://inshorts.com/" target="_blank ">InShorts</a> :Stay informed in 60 words.We understand you don’t have time to go through long news articles everyday. So we cut the clutter and deliver them, in 60-word shorts. Short news for the mobile generation.
                      
                .group
                    input#2(type='checkbox')
                    label(for='2') <a href="https://www.google.com/calendar/about/" target="_blank ">Google Calender</a> :The Google Calendar app helps you spend less time managing your schedule and more time enjoying it. 
                    
                .group
                    input#3(type='checkbox')
                    label(for='3') <a href="https://www.linkedin.com" target="_blank ">LinkedIn</a>Best Social Media Platform TO make New Contacts.
                .group
                    input#4(type='checkbox')
                    label(for='4')  <a href="https://finshots.in/" target="_blank ">Finshot</a>With Finshots, get your daily dose of the latest, most important financial developments delivered in plain English. In less than 3 mins!!! Packed with Real Insights
                .group
                    input#5(type='checkbox')
                    label(for='5')  <a href="https://pay.google.com/intl/en_in/about/ " target="_blank " >Google Pay</a>Built for India with all the features and rewards you love, plus much more. Google Pay is the simplest way to send money home to your family, recharge your mobile, or pay the neighbourhood chaiwala.
                
                




     

      

  

      

  
   

   section.sponsorSection 
            h1| Source
            .container
              .card
                .box(onclick="window.location.href='https://youtu.be/Jnpbt24HsKQ'")
                    .imgBx
                        img(src='../static/card5Style/curiousHarish.jpg' alt="sponsorSection")
                    .contentBox
                         div
                            h2 Curious Harish
                            p
                              | 3rd year Electrical Engineer at Bits Pilani
            

      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





