extends ../base.pug


block scripts
//-   script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../../static/card3Style/card3.css
        
        
        
        

block content



   section#introSection


   section.contentSectionBody


        .contentSection
            h1| Source
            .container
                h1 Python Libraries For Electrical Engineers
                .group
                    input#1(type='checkbox')
                    label(for='1') <a href="https://xess.com/skidl/docs/_site/" target="_blank ">SKIDL</a> Is a Module That Extends Python With The Ability To Design Electronic Circuits
                      
                .group
                    input#2(type='checkbox')
                    label(for='2') <a href="https://github.com/topics/pyspice" target="_blank ">PySpice</a> Is A Python Module Which Interface <a href="http://ngspice.sourceforge.net/" target="_blank ">NgSpice</a> And <a href="https://xyce.sandia.gov/" target="_blank ">Xyce</a> Circuit Simulators
                    
                .group
                    input#3(type='checkbox')
                    label(for='3') <a href="https://numpy.org/" target="_blank ">NumPy</a> Is An OpenSource Powerful N-Dimensional Arrays,Numerical Computing Tools.It has Also Functions OF WorkinG In Domain Of Linear Algebra ,Fourier Transforms
                .group
                    input#4(type='checkbox')
                    label(for='4')  <a href="https://matplotlib.org/" target="_blank ">Matplotlib</a> is a comprehensive library for creating static, animated, and interactive visualizations in Python. screenshots. Matplotlib makes easy things easy and
                




     

      

  

      

  
   

   section.sponsorSection

      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





