extends ../base.pug


block scripts
//-   script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../../static/card2Style/card2.css
        
        
        
        

block content



   section#introSection


   section.contentSectionBody


        .contentSection
            .container
                h1 <a href="https://www.codewithharry.com" target="_blank ">CodeWithHarry</a>
                .group
                    input#1(type='checkbox')
                    label(for='1') <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ahSEQv6cHtu8JBXNgK2_QMX" target="_blank ">You Can Practice C Prgrams With Him</a>
                      
                .group
                    input#2(type='checkbox')
                    label(for='2') <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" target="_blank ">You Can Learn C Programs With Him</a>
                    
                .group
                    input#3(type='checkbox')
                    label(for='3') <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" target="_blank ">You Can Practice Datastructures And Algorithms</a>
                .group
                    input#4(type='checkbox')
                    label(for='4')  <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="_blank ">You Can learn Web Development</a>
                .group
                    input#5(type='checkbox')
                    label(for='5')  <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ai6fAMHp-acBmJONT7Y4BSG" target="_blank ">Learn To Make Android APPs with Harry</a>
                .group
                    input#6(type='checkbox')
                    label(for='6')  <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9aiL0kysYlfSOUgY5rNlOhUd" target="_blank ">Machine Learning Tutorials For Beginners</a>
                .group
                    input#7(type='checkbox')
                    label(for='7')  <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ailUQcxEPZrWgDoL36BtPYb" target="_blank ">Game Development Using Python</a>
                .group
                    input#8(type='checkbox')
                    label(for='8')  <a href="https://www.youtube.com/channel/UCeVMnSShP_Iviwkknt83cww" target="_blank ">And Many More SO Subscribe To His Channel</a>




     

      

  

      

  
   

   section.sponsorSection
            h1| Source
            .container
              .card
                .box(onclick="window.location.href='https://www.youtube.com/channel/UCeVMnSShP_Iviwkknt83cww'")
                    .imgBx
                        img(src='../static/card2Style/codeWithHarry.jpg' alt="sponsorSection")
                    .contentBox
                         div
                            h2 LoveBabbar
                            p
                              | Software Engineer At Amazon India
      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





