extends ../base.pug


block scripts
//-   script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../../static/card4Style/card4.css
        
        
        
        

block content



   section#introSection


   section.contentSectionBody


        .contentSection
            .container
                h1 PM Modi Explains How NEP2020 Will Lay The Foundation In India
                .group
                    input#1(type='checkbox')
                    label(for='1') <a href="https://youtu.be/NXQZSi2BDr4" target="_blank ">The new Education Policy reflects the aspirations of youth: PM Modi</a> 
                      
                .group
                    input#2(type='checkbox')
                    label(for='2') <a href="https://youtu.be/zcyVSS4YB2Q" target="_blank ">What three things PM Modi has asked students to never stop doing? Watch video to find out!</a> 
                    
                .group
                    input#3(type='checkbox')
                    label(for='3') <a href="https://youtu.be/oJAkiq7r1bI" target="_blank ">National Education Policy focuses on integrating 'local' with 'global'... Know more in this video!</a>
                .group
                    input#4(type='checkbox')
                    label(for='4')  <a href="https://youtu.be/9kd1dVRiIJg" target="_blank ">NEP will give youth the education and skillset they require: PM Modi</a>
                .group
                    input#5(type='checkbox')
                    label(for='5')  <a href="https://youtu.be/wARxJsLKBzA" target="_blank ">We want to make our students into global citizens and yet be rooted in their culture: PM</a>
                .group
                    input#6(type='checkbox')
                    label(for='6')  <a href="https://youtu.be/FfFYXRBQpFU" target="_blank ">How NEP aims to shift focus from ‘What to think’ to ‘How to think’? Watch video to know more</a>
                .group
                    input#7(type='checkbox')
                    label(for='7')  <a href="https://youtu.be/jIdUI2ANMzo" target="_blank ">What did PM Modi say about autonomy of educational institutions? Watch video to find out more!</a>
                .group
                    input#8(type='checkbox')
                    label(for='8')  <a href="https://youtu.be/B38juh8Z7lc" target="_blank ">When a teacher learns, a nation leads: PM Narendra Modi</a>
                




     

      

  

      

  
   

   section.sponsorSection
            
            

      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





