extends ../base.pug


block scripts
//-   script(src='../static/javaScriptFiles/homePage.js')

block style
    style
        include ../../static/card6Style/card6.css
        
        
        
        

block content



   section#introSection


   section.contentSectionBody


        .contentSection
            .container
                h1 7 Tips To Get You Jobs 

                .group
                    input#1(type='checkbox')
                    label(for='1') "Do What You Really Love To Do"
                      
                .group
                    input#2(type='checkbox')
                    label(for='2') "Go The Extra Step Into Learning What You Love!"
                    
                .group
                    input#3(type='checkbox')
                    label(for='3')  "Concidering Your Job Interviews -Reflect your Passion And Excitement In Conversations"
                .group
                    input#4(type='checkbox')
                    label(for='4')  "Body Language: Straight Back and Chest Out" 
                .group
                    input#5(type='checkbox')
                    label(for='5')  "Grooming And Personal Hygiene Matters A Lot Too" 
                .group
                    input#6(type='checkbox')
                    label(for='6')  "Have Genuine Concern And Respect For Everyone" 
                .group
                    input#7(type='checkbox')
                    label(for='7')  "At The Last. Jobs Are Not For Everyone " So If You Feel "Work For Yourself And Be Your Boss"
                
                




     

      

  

      

  
   

   section.sponsorSection
            h1| Source

            .container
              .card
                .box(onclick="window.location.href='https://www.youtube.com/c/dhruvrathee/featured'")
                    .imgBx
                        img(src='../static/card6Style/Dhruv-Rathee.jpg' alt="sponsorSection")
                    .contentBox
                         div
                            h2 Dhruv Rathee
                            p
                              |  He raise critical social, political and environmental issues facing India and educate you on important things which matter in your life !
            

      
//- block scripts
//-     //- script(src='../static/index.js')
//-     script
//-       include ../static/index.js      





